{% extends 'base.html' %}

{% block content %}
<section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Trainers</h2>
            <p>Meet Our Professional Trainers</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

            {% for trainer in trainers %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <!-- Image -->
                    <img src="{{ trainer.image.url }}" class="img-fluid" alt="{{ trainer.name }}">

                    <div class="member-content">
                        <!-- Name and Role -->
                        <h4>{{ trainer.name }}</h4>
                        <span>{{ trainer.role }}</span>

                        <!-- Description -->
                        <p>{{ trainer.description }}</p>

                        <!-- Social Links -->
                        <div class="social">
                            {% if trainer.twitter %}
                            <a href="{{ trainer.twitter }}"><i class="bi bi-twitter"></i></a>
                            {% endif %}
                            {% if trainer.facebook %}
                            <a href="{{ trainer.facebook }}"><i class="bi bi-facebook"></i></a>
                            {% endif %}
                            {% if trainer.instagram %}
                            <a href="{{ trainer.instagram }}"><i class="bi bi-instagram"></i></a>
                            {% endif %}
                            {% if trainer.linkedin %}
                            <a href="{{ trainer.linkedin }}"><i class="bi bi-linkedin"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</section>
{% endblock %}

